<div class=" h-screen w-screen bg-whiteGhost overflow-y-auto overflow-x-hidden">
  <nav
    class="hidden relative w-full z-50 bg-opacity-70 bg-white shadow-md shadow-slate-200 p-4 flex items-center justify-between">
    <div class="h-8 w-8 bg-tomato"></div>
    <div class="">
      <button class="button">save</button>
      <button class="button">add</button>
    </div>
  </nav>

  <div class="grid grid-cols-4 w-full gap-5 p-5 h-full">
    <div class="relative h-full w-full ">

      <app-member-list></app-member-list>
      <app-competitions-list></app-competitions-list>
    </div>

    

    <!-- header -->
    <div class="relative overflow-hidden col-span-3  gap-4 border bg-white  rounded-lg hover:border-orange-300">
      <div ngClass="competition.status === 'duringPlay' ? 'bg-oragne-300' : ''"
        class="flex justify-between relative z-50 bg-whiteGhost bg-opacity-80 px-3 p-4 border-b-orange-300 drop-shadow-lg shadow shadow-orange-300 hover:bg-gradient-to-t hover:from-white hover:to-slate-100 ">
        <div class="flex items-end">

          <h1 class="text-2xl font-bold">Competition</h1>
          <span *ngIf="selectedCompetition$ | async as competition "
            class="ml-3 text-slate-400 capitalize font-extralight text-xs pb-1">{{competition.code}}
          </span>

        </div>
        <div class="flex gap-2">
          <!-- <button (open)="onOpen($event)" (close)="onClose($event)"></button> -->
          <button (click)="onOpen()" type="button" class="button">new</button>
          <!-- <button (click)="onClose()" type="button" class="button">close </button> -->
          <!-- <button (click)="onOpen()" type="button" class="button">new </button>
          <button class="button">update</button> -->
        </div>
      </div>


      <app-competition-form></app-competition-form>

      <!--  -->

      <app-competition-main></app-competition-main>

      <!--  -->

    </div>

  </div>