<div *ngFor="let competition of competitions$ |async" class="text-base my-4">
  <div (click)="selectCompetition(competition)" [ngClass]="competition.status === 'today' ? 'border-2 border-orange-500' : ''"
    class="
    
    border p-2 rounded-md overflow-auto bg-slate-100 hover:border-orange-400 hover:shadow-sm hover:shadow-orange-400 transition-all duration-500">
    <div class="grid grid-cols-2 ">
      <div class="">
        <p class="text-sm font-normal"><span class="text-slate-400 capitalize font-extralight text-xs">location:
          </span> {{competition.location}}</p>
        <hr class="border-slate-100 my-1">
        <p class="text-sm font-normal"><span class="text-slate-400 capitalize font-extralight text-xs">participants:
          </span> {{competition.rankings.length}}/{{competition.numberOfParticipants}}</p>
      </div>
      <div class="ml-auto">
        <p class="font-normal  text-right text-xs"><span class="text-slate-400 capitalize font-extralight text-xs">
        
        <!-- </span>{{ competition.date | date:'fullDate'}}</p> -->
      </span>{{ competition.displayDate}}</p>
        <hr class="border-orange-200 my-1">
        <p class="text-sm font-normal text-right"><span class="text-slate-400 capitalize font-extralight text-xs">
          </span>{{competition.startTime | date:'shortTime'}}</p>
      </div>
    </div>
  </div>
</div>