<div class="bg-white relative h-full w-full" *ngIf="selectedCompetition$ | async as SelectedCompetition ">

    <!-- main competition header -->
    <div class="flex justify-between items-center w-full">
        <div class="w-1/3 ">
            <div class="px-5 flex flex-col gap-2">
                <p class="border-b border-orange-300 w-fit font-thin text-xs text-slate-500">
                    <span class="font-normal text-jet text-base">{{ competition.location }}</span> Le <span
                        class="font-normal text-jet text-base">{{ competition.displayDate }}</span>
                </p>
                <p class="border-b border-orange-300 w-fit font-thin text-xs text-slate-500">
                    de <span class="font-normal text-jet text-base">{{ competition.startTime | date:'shortTime'}}</span>
                    a <span class="font-normal text-jet text-base">{{ competition.endTime | date:'shortTime'}}</span>
                </p>

            </div>
        </div>

        <div class=" flex flex-col gap-2 w-1/3 items-center justify-between px-5 py-10">
            <app-competition-badge-main class="w-full" [competition]="competition"></app-competition-badge-main>
        </div>


        <div class="w-1/3 ">
            <div class="px-5 flex flex-col gap- items-end">
                <p class="border-b border-orange-300 w-fit font-thin text-xs text-slate-500 text-right">
                    nombre de places:
                    <span class="font-normal text-jet text-base">{{ competition.numberOfParticipants }}</span>
                </p>
                <p class="border-b border-orange-300 w-fit font-thin text-xs text-slate-500 text-right">
                    nombre participants inscrits:
                    <span class="font-normal text-jet text-base">{{competition.rankings.length}}</span>
                </p>
                <p class="border-b border-orange-300 w-fit font-thin text-xs text-slate-500 text-right">
                    places disponibles:
                    <span class="font-normal text-jet text-base">{{competition.numberOfParticipants -
                        competition.rankings.length}}</span>
                </p>


            </div>
        </div>
    </div>


    <!-- main competition participants -->

    <div [@openClose]="isOpen ? 'open' : 'closed'" class="p-5 w-full h-full bg-whiteGhost absolute">
        <div
            class=" py-2 border-b-2 border-orange-400 capitalize font-bold bg-whiteGhost pl-4 flex justify-between items-center">
            <h1 class="">participants</h1>
            <div *ngIf="competition.status === 'openSubscription'" class="">
                <button (click)="emmitOpenMembersListEvent()" class="button">inscrire</button>
            </div>
            <div *ngIf="competition.status === 'duringPlay'" class="">
                <button (click)="emmitStartResultsEntryEvent()" class="button">saisie resultats</button>
            </div>
        </div>
        <div *ngIf="competition.rankings as rankings" class="">
            <div *ngFor="let ranking of rankings" class="">
                <app-competition-badge-participant [ranking]="ranking"></app-competition-badge-participant>
            </div>

        </div>
    </div>

</div>